<% title "List Users in the #{current_user.tenant.name} Organization" %>

<div class="grid_16">
	<h1><%= yield(:title) %></h1>
</div>

<div class="grid_4">
	<div class="box"> 
		<div class="content pad-16"> 
			<%= form_tag(users_path, :method => :get, :name => 'search', :class => "form-stacked") do -%>
			<fieldset>
				<div class="clearfix">
					<label id="optionsRadio">Filter Users</label>
					<div class="input">
						<ul class="inputs-list">
							<li>
								<label>
									<%= radio_button_tag "show_users", "ALL", cookies[:users_search_show_users] == 'ALL', html_options = {:onchange => 'document.search.submit();'} %>
									<span>All</span>
								</label>
							</li>
							<li>
								<label>
									<%= radio_button_tag "show_users", "CONFIRMED", cookies[:users_search_show_users] == 'CONFIRMED', html_options = {:onchange => 'document.search.submit();'} %>
									<span>Confirmed Users Only</span>
								</label>
							</li>

							<li>
								<label>
									<%= radio_button_tag "show_users", "UNCONFIRMED", cookies[:users_search_show_users] == 'UNCONFIRMED', html_options = {:onchange => 'document.search.submit();'} %>
									<span>Unconfirmed Users Only</span>
								</label>
							</li>
						</ul>
					</div> <!-- end .content -->
				</div> <!-- end  .grid_4 -->
			</fieldset>
			<% end %>

			<hr />			
			<%= link_to "Invite User", new_org_user_path, :class => "btn" %>

		</div> <!-- end .content -->
	</div> 	<!-- end .box-->
	<%= paginate @users %>
</div> <!-- end .grid_4 -->

<div class="grid_12">
	<div class="box"> 
		<div class="header">
			<h2>Users</h2>
		</div>
		<div class="content"> 
			<table>
				<thead>
					<tr>
						<th>Email</th>
						<th>Name</th>
						<th>Member Since</th>
						<th>Last Logged On At</th>
						<th class="center">Confirmed</th>
						<th class="center">Action</th>
					</tr>
				</thead>
				<tbody>
					<%= render @users %>
				</tbody>
			</table>
		</div> <!-- end .content -->
		</div> <!-- end .box -->
	</div> <!-- end .grid_12 -->
