<tr>
  <td><%= project.name %></td>
  <td><%= link_to project.pivotal_identifier, "https://www.pivotaltracker.com/projects/#{project.pivotal_identifier}", :target => "_blank" %></td>
  <td><%= l(project.last_synced_at) if project.last_synced_at %></td>
  <td><%= l(project.next_sync_at) if project.next_sync_at %></td>
  <td><%= project.sync_status %></td>
  <td>
    <%= show_link project if project.latest_iteration %>
    <%= edit_link project, (project.latest_iteration ? " | " : "") %>
    <%= destroy_link project, " | " %>
    <% if can? :refresh_project, project %>
        | <%= link_to 'Refresh', refresh_project_path(project), :method => :post %>
        | <%= link_to 'Renumber', renumber_project_path(project), :method => :post %>
    <% end %>
  </td>
</tr>
