<tr>
  <td><%= link_to_if(project.latest_iteration.present?, project.name, project_path(project)) %></td>
  <td><%= link_to project.pivotal_identifier, "https://www.pivotaltracker.com/projects/#{project.pivotal_identifier}", :target => "_blank" %></td>
  <td><%= l(project.last_synced_at) if project.last_synced_at %></td>
  <td><%= l(project.next_sync_at) if project.next_sync_at %></td>
  <td><%= project.sync_status %></td>
  <td>
    <%= edit_link project %>
    <%= destroy_link project, " | " %>
  </td>
</tr>
