<tr>
  <td>
    <%= check_box_tag "story_ids[]", card.id %>
  </td>
  <td><%= card.name %></td>
  <td><%= card.story_type %></td>
  <td><%= card.status %></td>
  <td><%= card.points %></td>
  <td><%= card.owner %></td>
  <td><%= card.iteration_number %></td>
</tr>
