<% title "Project Details for #{@project.name}" %>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<p>
  <b><%= t('project.project_identifier') %>:</b>
  <%= link_to @project.project_identifier, "https://www.pivotaltracker.com/projects/#{@project.project_identifier}", :target => "_blank" %>
</p>
<p>
  <b>Last Synced At:</b>
  <%= l(@project.last_synced_at) if @project.last_synced_at %>
</p>
<p>
  <b>Sync Status</b>
  <%= @project.sync_status %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
