<% title "Project #{@project.name}, Iteration #{@iteration.iteration_number}" %>

<%= render :partial => 'navigation' %>

<div class="box">
  <div class="header">
    <h2>Taskboard
      for  <%= @project.name %>&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbspIteration <%= @iteration.iteration_number %>
      :&nbsp;&nbsp;&nbsp;<%= l(@iteration.start_on) %> to <%= l(@iteration.end_on) %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Synced
      on <%= @iteration.last_synced_at ? l(@iteration.last_synced_at) : "<NEVER>" %> </h2>
    <span class="draggable">move</span>
    <span class="toggle">toggle</span>
  </div>
  <!-- end .header -->

  <div class="content clearfix">
    <div class="dataTables_wrapper">
      <div class="dataTables_length">

        <%= form_tag(project_path(@project), :id => 'select_iteration', :method => :get, :name => 'search') do -%>
            <strong>Iteration:</strong>
            <%= select_tag :iteration_id,
                           options_from_collection_for_select(
                                   @project.iterations.select("id, iteration_number"),
                                   "id",
                                   "iteration_name",
                                   @iteration.id),
                           html_options = {:onchange => 'document.search.submit();'} %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <Strong>Owner:</Strong>
            <%= select_tag :owner,
                           options_for_select(Hash[@iteration.stories.collect(&:owner).map { |name| name.nil? ? "xxxxxxx" : name }.group_by { |x| x }.map { |k, v| [k, v.count] }].keys.sort.map { |name| name == "xxxxxxx" ? "Unowned" : name }.insert(0, "All"),
                                              @owner),
                           html_options = {:onchange => 'document.search.submit();'} %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Show Pushed Items:</strong>
            <%= radio_button_tag "show_pushed_stories", "Y", cookies[:show_pushed_stories] != "N",
                                 html_options = {:onchange => 'document.search.submit();'} %>
            Yes&nbsp;&nbsp;

            <%= radio_button_tag "show_pushed_stories", "N", cookies[:show_pushed_stories] == "N",
                                 html_options = {:onchange => 'document.search.submit();'} %>
            No &nbsp;&nbsp;&nbsp;&nbsp;

            <strong>Show Accepted Stories:</strong>
            <%= radio_button_tag "show_accepted_stories", "Y", cookies[:show_accepted_stories] != "N",
                                 html_options = {:onchange => 'document.search.submit();'} %>

            Yes&nbsp;&nbsp;

            <%= radio_button_tag "show_accepted_stories", "N", cookies[:show_accepted_stories] == "N",
                                 html_options = {:onchange => 'document.search.submit();'} %>
            No
        <% end %>

      </div>
      <!-- end .dataTables_wrapper -->
    </div>
    <!-- end .dataTables_length -->

    <table>
      <thead>
      <tr>
        <th rowspan="2">Story</th>
        <th rowspan="2">Status</th>
        <th rowspan="2">Estimate<br/>(hours)</th>
        <th colspan="<%= @iteration.calc_day_number %>">Day</th>
      </tr>
      <tr>
        <%= @iteration.day_headings %>
      </tr>
      </thead>

      <tbody>

      <%= render :partial => 'story', :collection => @iteration.decorated_stories(cookies[:show_accepted_stories], cookies[:show_pushed_stories], cookies[:owner]), :locals => {:iteration => @iteration} %>

      <tr>
        <td colspan="<%= @iteration.calc_day_number + 3 %>">&nbsp;</td>
      </tr>
      <tr>
        <td><strong>REMAINING HOURS:</strong></td>
        <%= @iteration.remaining_hours_by_day %>
      </tr>
      <tr>
        <td><strong>REMAINING QA HOURS:</strong></td>
        <%= @iteration.remaining_qa_hours_by_day %>
      </tr>
      <tr>
        <td><strong>TOTAL HOURS:</strong></td>
        <%= @iteration.total_hours_by_day %>
      </tr>

      <tr>
        <td><strong>COMPLETED HOURS:</strong></td>
        <%= @iteration.completed_hours_by_day %>
      </tr>

      <tr>
        <td><strong>VELOCITY:</strong></td>
        <%= @iteration.velocity_by_day %>
      </tr>

      <tr>
        <td><strong>POINTS DELIVERED:</strong></td>
        <%= @iteration.points_delivered_by_day %>
      </tr>
      </tbody>

    </table>


  </div>
  <!-- end .content-->

</div>     <!-- end .box-->


<%= link_to 'Back', projects_path %>
