<% title "Invite User to #{current_user.tenant.name}" %>

<%= form_for(@user, :url => org_users_path(@user)) do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %>
      <br/>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :first_name %>
      <br/>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <br/>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :roles %>
      <% for role in User::ROLES.find_all { |r| r != "superuser" } %>
          <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
          <%= h role.humanize %>
      <% end %>
      <%= hidden_field_tag "user[roles][]" %>
    </div>
    <div class="actions">
      <%= submit_tag "Invite User" %>
    </div>
<% end %>


<%= link_to 'Back', users_path %>
