<!DOCTYPE html>
<html>
<head>
  <title>PivotalPal - <%= yield (:title) %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min", "jquery_ujs", "highcharts" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <div id="user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path %>

        | <%= link_to "Change Password", edit_passwd_path(current_user) %>
        | <%= link_to "Edit Profile", edit_profile_path(current_user) %>
        | <%= link_to_unless_current "Projects", projects_path %>

        <% if current_user.role? ROLE_ADMIN %>
            | <strong>Admin Screens: </strong>
            <%= link_to_unless_current "Users", users_path %>
            <% if can? :update, current_user.tenant %>
                | <%= link_to_unless_current "Company Info", edit_tenant_path(current_user.tenant) %>
            <% end %>
        <% end %>
        <% if current_user.role? ROLE_SUPERUSER %>
            | <strong>SuperUser Screens:</strong>
            <% if can? :manage, User %>
                <%= link_to_unless_current "All Users", super_users_path %>
            <% end %>
            <% if can? :read, Logon %>
                | <%= link_to_unless_current "Logons", logons_path %>
            <% end %>
            | <%= link_to_unless_current "Jobs", periodic_jobs_path %>
        <% end %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <h1><%= yield(:title) %></h1>

  <%= yield %>
</div>
</body>
</html>
